
.container {
  padding: 3% 0%;
  
  font-family: 'Plus Jakarta Sans', sans-serif;
}

h2 {
  color: white;
  
}

p {
  font-size: 1.2rem;
}

span {
  font-size: 1.2rem;
  color: white;
  padding: 0 10px;
}

.sticky-top {
  background-color: cornflowerblue;
  border-radius: 5px;
}